<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devcolombaramarco.faithsland" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Faith's Land</name>
    <description>Faith is here to help you with your health</description>
    <author email="devcolombaramarco@gmail.com" href="https://cordova.apache.org">
        Marco Colombara
    </author>
    <content src="index.html" />
    <icon density="xxxhdpi" src="www/img/logo.png" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="SplashScreenBackgroundColor" value="#FAF8F1" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SplashScreenWidth" value="0" />
    <preference name="SplashScreenHeight" value="0" />
</widget>
